@use "../../../styles/variables" as variables;

.about {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-description {
    width: 60%;
    font-size: variables.$fs-medium;
    color: #fff;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 0.1rem #fff;
    text-align: center;
    transition: all 1s ease;
    &:hover {
      transform: scale(1.02);
    }
  }
}

@media screen and (max-width: variables.$bp-medium) {
  .about {
    min-height: 60vh;
    &-description {
      width: 100%;
      font-size: variables.$fs-small;
    }
  }
}
