@use "../../styles/variables" as variables;

.show-case {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 15rem;

  &-wrapper {
    display: flex;
    white-space: nowrap;
    border-top: 0.1rem solid #fff;
    border-bottom: 0.1rem solid #fff;
    padding: 4rem 0;
    &-list {
      display: flex;
      align-items: top;
      -webkit-animation: loop 20s infinite linear;
      animation: loop 20s infinite linear;
    }
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: loop 20s infinite linear;
  animation: loop 20s infinite linear;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &-txt {
      font-weight: 100;
      font-size: variables.$fs-focus;
      line-height: 3.5rem;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      color: #fff;
    }
    &-d {
      display: inline;
    }
    &-dot {
      max-width: 20px;
      max-height: 20px;
      margin: 0 50px;
      padding: 10px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.dot-r {
  background-color: #f35c4a;
}
.dot-b {
  background-color: #1188ff;
}
.dot-g {
  background-color: #60f2d0;
}
.dot-y {
  background-color: #ffdb6b;
}
.dot-t {
  background-color: #bfe05e;
}

@keyframes loop {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media screen and (max-width: variables.$bp-medium) {
  .list {
    &-item {
      &-txt {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
}
