@use "../../styles/colors.scss" as colors;
.blob {
  position: fixed;
  top: 0;
  left: 0;
  height: 30rem;
  width: 30rem;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  border-radius: 50%;
  animation: rotate 20s infinite;
  z-index: -2;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  backdrop-filter: blur(25rem);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: rotate(360deg);
  }
}
